@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebarLink {
    @apply px-6 py-2 hover:bg-slate-200 transition-all;
  }
  .inputContainer {
    @apply flex flex-col mb-4 gap-1;
  }

  .textInput {
    @apply border border-gray-400 rounded-md py-1 px-2 text-gray-500 focus:outline-gray-500;
  }

  .btn {
    @apply transition-all font-semibold border-green-500 text-green-500 border-2 rounded-lg px-5 py-1 cursor-pointer disabled:opacity-25 disabled:cursor-not-allowed hover:text-white hover:bg-green-500;
  }
}

/* Loading Spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 6px;
  border: 6px solid #21c65d;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #21c65d transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
